body {
  background-color: #fdcb6e; 
  font-family: PT Sans;
  font-size: 22px; 
  text-align: center;
}

button {
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: 100; 
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

}

.graph-button:hover{
    background: orange;
    color: white;
    text-align: center;
}